a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.navbar-logo {
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-top: -13px;
}

.gifter-text  {
  padding-left: 5px;
}

.calendar-btn {
  background-size: contain;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

.calendar-logo {
  width: 100%;
  max-height: 50px;
  margin-top: -13px;
}

.calendar-btn a {
  background-color: transparent !important;
  padding: 13px 0 0 0 !important;
}