.centered-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centered-text {
  text-align: center;
}

.page-header h1 {
  color: #a94442;
}

.page-header {
  margin: 20px 0 20px;
}