.link-btn {
  float: right;
  margin-left: 10px;
  color: white;
}

.remove-btn {
  float: right;
}

.favourite-btn {
  background-color: transparent;
  border: none;
  float: right;
  margin-right: 5px;
}

.star-img {
  width: 30px;
  height: 30px;
}