.link-btn {
  float: right;
  margin-left: 10px;
  color: white;
}

.suggestion-img {
  height: 90px;
  width: 90px;
  margin-bottom: 5px;
  float: left;
}

.card {
  margin: 5px;
  display: flex;
}

.card-header {
  background-color: #ffc560;
  width: 30%;
  word-break: break-word;
}

.action-btns {
  align-self: baseline;
}

.suggestion-body {
  margin-bottom: auto;
  float: right;
}

.card-lower-content {
  display: flex;
  align-items: center;
}

.card-upper-content {
  display: flex;
  align-items: center;
}

.suggestion-link {
  color: orange;
}

.suggestion-text {
  margin-left: 5px;
}